.timeline-container {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .selector-mecanicos {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .selector-mecanicos label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .selector-mecanicos select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .timeline {
    position: relative;
    margin: 20px 0;
    padding: 20px 0;
    border-left: 2px solid #007bff;
    min-height: 400px; /* Para que Droppable tenga espacio */
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: grab; /* Muestra un cursor de agarre */
  }
  
  .timeline-item:active {
    cursor: grabbing;
  }
  
  .timeline-item::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 0;
    width: 16px;
    height: 16px;
    background-color: #007bff;
    border-radius: 50%;
  }
  